stages:
 - build
 - analysis
 - deploy

variables:
  FEDORA_IMAGE: "registry.gitlab.gnome.org/gnome/msgraph/fedora:v1"
  COVERITY_IMAGE: "registry.gitlab.gnome.org/gnome/msgraph/coverity:v1"
  MESON_TEST_TIMEOUT_MULTIPLIER: 4
  G_MESSAGES_DEBUG: all

.only-schedules:
  only:
    - schedules
  except:
    - tags

fedora:
  image: $FEDORA_IMAGE
  stage: build
  script:
    - meson setup -Db_coverage=true _build
    - ninja -C _build
    - ninja -C _build test
    - ninja coverage-xml -C _build
    - ninja coverage-html -C _build
  coverage: '/^lines:\s+([\d.]+\%)\s+/'
  artifacts:
    name: "msgraph-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: "_build/meson-logs/coverage.xml"
    paths:
      - "_build/meson-logs"
      - "_build/doc"
      - "_build/meson-logs/coveragereport"

scan-build:
  image: $FEDORA_IMAGE
  stage: analysis
  needs: []
  script:
    - meson setup --werror _scan_build -Dintrospection=false -Dgtk_doc=false
    - ninja -C _scan_build scan-build
  artifacts:
    name: "msgraph-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: always
    expire_in: 1 week
    paths:
      - "_scan_build/meson-logs/scanbuild"

coverity:
  extends: .only-schedules
  image: $COVERITY_IMAGE
  stage: analysis
  needs: []
  script:
    - meson setup --werror _coverity_build  -Dintrospection=false -Dgtk_doc=false
    - $HOME/cov-analysis-linux64-*/bin/cov-build --dir cov-int meson compile -C _coverity_build
    - tar cfz cov-int.tar.gz cov-int
    - curl https://scan.coverity.com/builds?project=$COVERITY_SCAN_PROJECT_NAME
           --form token=$COVERITY_SCAN_TOKEN --form email=$GITLAB_USER_EMAIL
           --form file=@cov-int.tar.gz --form version="$CI_COMMIT_SHA"
           --form description="$CI_COMMIT_SHA / $CI_COMMIT_TITLE / $CI_COMMIT_REF_NAME:$CI_PIPELINE_ID"
  artifacts:
    name: "msgraph-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: always
    expire_in: 1 week
    paths:
      - "cov-int/build-log.txt"

pages:
  stage: deploy
  needs: ['fedora']
  script:
    - mv _build/doc/msgraph-0/ public/
    - mv _build/meson-logs/coveragereport public/
  artifacts:
    paths:
      - public